.spotlight {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

/* Dark overlay */
.spotlight::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #1666adaa, #00000091);
    z-index: 1;
}

/* Content */
.spotlight-content {
    position: relative;
    z-index: 2;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 20px 80px 80px;
}

.spotlight-content .best_detail {
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 6px 18px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 20px;
}

.spotlight-content h2 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.08;
}

.spotlight-content h2 span {
    position: relative;
    z-index: 6;
    display: inline-block;
    color: #de9017;

}

/* .spotlight-content h2 span::after {
    content: '';
    background: #eff5ff;
    display: block;
    width: calc(100% + 40px);
    height: 50px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(-2deg);
    z-index: -1;
    border-radius: 10px;
} */

.spotlight-content p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.9;
    width: 50%;
    margin-bottom: 20px;
}

.spotlight-btn {
    color: #fff;
    background: #ffffff25;
    padding: 12px 20px;
    border: none;
    /* border-radius: 50px; */
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ffffff7a;
}
.spotlight-btn:hover {
    background: #de9017;
    color: #fff;
    border: none;
    padding: 12px 24px;
}
 .swiper-pagination-bullet{
    transition: .3s ease-in-out !important;
 }
 .swiper-pagination-bullet-active{
    width: 25px !important;
    border-radius: 20px !important;
    background:#de9017 !important;

 }

@media screen and (max-width: 560px) {
    .spotlight-content h2 {
        font-size: 38px;
        line-height: 1.2em;
        
    }
    .spotlight-content p {
    font-size: 14px;
    width: 80%;
}
}

